<!DOCTYPE html>
<html>
<head>
  <title>Coffeeshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://localhost:9292/faye.js" %>
 <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
